#warranty button {

    cursor: pointer;
    color: rgb(255, 255, 255);
    background:  linear-gradient(90deg, rgba(34, 87, 122, 1) 7%, rgba(95, 179, 114, 1) 35%, rgba(100, 193, 122, 1) 40%, rgba(95, 179, 114, 1) 44%, rgba(34, 87, 122, 1) 96%) 0% 0% / 500%;
    animation-duration: 33s;
    border-radius: 30px;
    border: none;
    height: 3em;
    position: relative;
    overflow: hidden;
    font-weight: 500;
    font-size: 13.5px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;

    &:hover {
        transform: scale(1.015);
        transition-duration: .1s;
    }

    &:active {
        transform: scale(0.990);
        transition-duration: .1s;
    }
}

@media only screen and (max-width: 991px) {
    #warranty button{
        width: 100%
    }
}
@media only screen and (min-width: 992px) {
    #warranty button{
        width: 75%;
    }
}